---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: argocd
spec:
  destination:
    name: in-cluster
    namespace: argocd
  project: default  kubectl get application apps -n argocd
  source:
    path: apps/
    repoURL: "https://github.com/dmuiX/argocd.k8sdev.cloud.git"
    targetRevision: HEAD
    directory:
      recurse: true
      jsonnet: {}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
